{%- capture class_tags -%}{% for tag in article.tags %} ArticleItem--{{ tag | downcase }}{% endfor %}{%- endcapture -%}

<article class="ArticleItem{{ class_tags }}" {% if block %}{{ block.shopify_attributes }}{% endif %}>
  {%- if article.image != blank -%}
    {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: article.image -%}{%- endcapture -%}
    {%- assign image_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    <a class="ArticleItem__ImageWrapper AspectRatio AspectRatio--withFallback" style="background: url({{ article.image | img_url: '1x1', format: 'jpg' }}); padding-bottom: 58%; --aspect-ratio: 1.7" href="{{ article.url }}">
      <img loading="lazy"class="ArticleItem__Image Image--lazyLoad Image--fadeIn"
           data-src="{{ image_url }}"
           data-widths="[{{ supported_sizes }}]"
           data-sizes="auto"
           alt="{{ article.image.alt | escape }}">

      <noscript>
        <img loading="lazy"class="ArticleItem__Image" src="{{ article.image | img_url: '600x' }}" alt="{{ article.image.alt | escape }}">
      </noscript>
    </a>
  {%- endif -%}

  <div class="ArticleItem__Content">
    {%- comment -%}
    {%- if section.settings.show_category -%}
      <span class="ArticleItem__Category Heading u-h6 Text--subdued">{{ article.tags.first }}</span>
    {%- endif -%}
    {%- endcomment -%}

    <h2 class="ArticleItem__Title">
      <a href="{{ article.url }}">{{ article.title }}</a>
    </h2>

    {%- unless template.name == 'article' or template.name contains 'product' -%}

      <p class="ArticleItem__Excerpt">{{ article.excerpt_or_content | strip_html | truncate: 150 }}</p>
      <div class="ArticleItem__Footer">
        <a href="{{ article.url }}" class="ArticleItem__Link Link u-h4">{{ 'blog.article.read_more' | t }} &gt;</a>
        {%- if section.settings.show_category and article.tags.size > 0 -%}
        <div class="ArticleItem__Tags">
          {% for tag in article.tags %}
            <span class="ArticleItem__Tag u-h4"><a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}">{{ tag }}</a>{%- unless forloop.last -%}, {%- endunless -%}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>

    {%- endunless -%}
  </div>
</article>
