<section class="Section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="featured-text-image">
  <div class="container">
    <div class="row row--stretch">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 SpacingSmall row__text">
        <h2 class="Heading Heading__h2">{{ section.settings.heading | newline_to_br }}</h2>
        <p>{{ section.settings.text }}</p>
        {%- if section.settings.button_link != blank -%}
        <a href="{{ section.settings.button_link }}" class="Button Button--icon">{{ section.settings.button_text }} {%- render 'icon' with 'button-arrow', classes: 'Button__Icon', fill: settings.button_accent, stroke: '#fff' -%}</a>
        {%- endif -%}
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 row__image">
        <img loading="lazy"src="{{ section.settings.image | img_url: '1200x' }}" alt="{{ section.settings.heading }}" width="100%" />
      </div>
    </div>
  </div>
</section>
<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.color_bg | default: '#96d3a0' }};
  }
</style>
