{%- if section.settings.show_section -%}
  <div id="section-{{ section.id }}">
    {%- capture mobile_size -%}750x{% if section.settings.image.height >= 960 %}960{% else %}{{ section.settings.image.height }}{% endif %}{%- endcapture -%}

    {%- comment -%}
    We have an integration with our app SuperFields to allow merchant to pull different collection footer info. We try first to pull it from the metafields
    and if none, we get it from the general settings.
    {%- endcomment -%}

    <div class="FlexboxIeFix">
      {%- if collection.metafields.sf_collection_footer.enabled == 1 -%}
        {%- assign title = collection.metafields.sf_collection_footer.title -%}
        {%- assign subtitle = collection.metafields.sf_collection_footer.subtitle -%}
        {%- assign button_link = collection.metafields.sf_collection_footer.button_link -%}
        {%- assign button_text = collection.metafields.sf_collection_footer.button_text -%}
      {%- else -%}
        {%- assign title = section.settings.title -%}
        {%- assign subtitle = section.settings.subtitle -%}
        {%- assign button_link = section.settings.button_link -%}
        {%- assign button_text = section.settings.button_text -%}
      {%- endif -%}

      <div class="ImageHero ImageHero--small Image--lazyLoad" {% if section.settings.image %}style="background: url({{ section.settings.image | img_url: '1x1', format: 'jpg' }})"{% endif %}>
        <div class="ImageHero__ImageWrapper Image--lazyLoad Image--zoomOut {% if section.settings.apply_overlay %}Image--contrast{% endif %}"
             {% if collection.metafields.sf_collection_footer.enabled != 1 %}
               data-optimumx="1.4"
               data-bgset="{{ section.settings.image | img_url: mobile_size, crop: 'center' }} 750w, {{ section.settings.image | img_url: '1000x' }} 1000w, {{ section.settings.image | img_url: '1500x' }} 1500w"
             {% else %}
               data-bg="{{ collection.metafields.sf_collection_footer.image }}"
             {% endif %}>
          {%- unless section.settings.image != blank -%}
            <div class="PlaceholderBackground PlaceholderBackground--Dark">
              {{ 'lifestyle-1' | placeholder_svg_tag: 'PlaceholderBackground__Svg' }}
            </div>
          {%- endunless -%}
        </div>

        <noscript>
          <div class="ImageHero__ImageWrapper {% if section.settings.apply_overlay %}Image--contrast{% endif %}" style="background-image: url({{ section.settings.image | img_url: '1000x' }})"></div>
        </noscript>

        {%- if title != blank or subtitle != blank -%}
          <div class="ImageHero__ContentOverlay">
            <header class="SectionHeader">
              {%- if title != blank -%}
                <h2 class="SectionHeader__Heading Heading u-h1">{{ title | escape }}</h2>
              {%- endif -%}

              {%- if subtitle != blank -%}
                <h3 class="SectionHeader__SubTitle Heading u-h3 u-sans-serif u-uppercase">{{- subtitle -}}</h3>
              {%- endif -%}

              {%- if button_link != blank -%}
              <a href="{{ button_link }}" class="Button Button--icon">{{ button_text }} {%- render 'icon' with 'button-arrow', classes: 'Button__Icon', fill: settings.button_accent, stroke: '#fff' -%}</a>
              {%- endif -%}

            </header>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>

  <style>
    #section-{{ section.id }},
    #section-{{ section.id }} .Heading {
      color: {% if collection.metafields.sf_collection_footer.enabled == 1 %}{{ collection.metafields.sf_collection_footer.text_color }}{% else %}{{ section.settings.text_color }}{% endif %};
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Collection footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1500 x 500px .jpg recommended"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "apply_overlay",
      "label": "Apply overlay on image",
      "info": "This can improve text visibility.",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Our story"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Text",
      "default": "Subheading goes here"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Get started"
    }
  ]
}
{% endschema %}